body{
	background-color: light-gray;
}
table{
	padding: 0;
	margin: 0;
}
tr{
	height: 27px;
}
#list td{
	width: 85px;
}
td{
	width: 95px;
}
tr.participation td{
	cursor: pointer;
}
tr.participation td{
	background: url("../images/yes_no.png") no-repeat  0 0 transparent;
}
tr.participation  td.participate{
	background: url("../images/yes_no.png") no-repeat 0 -32px transparent;
}
div.date_column{
	float: left;
}
tr.amount_participation>td{
	background-color: #e3e3e3;
}
